@font-face {
	font-family: 'Iosevka Web';
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	src: url('https://raw.githubusercontent.com/hanlhe/font/master/woff2/iosevka-regular.woff2') format('woff2'),
	url('https://raw.githubusercontent.com/hanlhe/font/master/ttf/iosevka-regular.ttf') format('truetype');
}
